<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Building the future, one lighthouse at a time</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Product Design</h3>
                    <p class="text-muted">Lead each design team as an integral part of how our product solves problems.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Product Management</h3>
                    <p class="text-muted">Build a culture that continuously brings superior products to market.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Operational Excellence</h3>
                    <p class="text-muted">Operate centeralized,strong organizational discipline and standardized systems.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Customer Success</h3>
                    <p class="text-muted">Align the product development and executive focus around the needs of the users/customers.</p>
                </div>
            </div>
        </div>
    </div>

<div class='share-on-blog' style='margin: 2px;vertical-align: top; font-size: 14px; font-family: arial; color: #000; max-width:300px;padding: 20px;border: 1px solid #f5f5f5; text-align: center; display: block;margin: 5px auto;'>
  <a href="https://www.blurb.ca/bookshare/app/index.html?bookId=10224674" data-bindattr-55="55" target='_blank'>
    <img src="https://bookshow.blurb.com/bookshow/cache/P15535362/md/cover_2.jpeg?access_key=d2d787da38a3300ae624ca220a13ca81" data-bindattr-56="56" alt='' style='max-height:300px; max-width:300px;border:0;zoom: 50%;box-shadow: 3px 3px 10px 1px #999;' />
    </a>
  <p style='margin: 5px;'><a target='_blank' style='text-decoration: none; font-size: 18px; color: #00c0be; text-transform: uppercase; border-bottom: 0;'><script id='metamorph-204-start' type='text/x-placeholder'></script>Design For Augmentation, Not Automation<script id='metamorph-204-end' type='text/x-placeholder'></script></a></p>
  <p style='margin: 5px;'>By <a style='text-decoration: none; color: #00c0be; order-bottom: 0;'><script id='metamorph-205-start' type='text/x-placeholder'></script>Amin Bashi<script id='metamorph-205-end' type='text/x-placeholder'></script></a></p>
</div>

</section>
